@media only screen and (max-width: 349px) {
    .frame {
        max-width: 100px;
        max-height: 100px;
    }
}

@media only screen and (max-width: 769px) and (min-width: 349px) {
    .banner {
        max-width: 250px;
        width: 100%;
    }

    .countdown {
        max-width: 80px;
        width: 100%;
        max-height: 80px;
        height: 100%;
        color: #fff;
        font-family: Dekko;
    }
    
    .countdown h6 {
        margin-top: -10px;
        margin-bottom: 0;
        font-size: 36px;
    }
    
    .countdown span {
        font-size: 16px;
    }

    .frame {
        max-width: 130px;
        max-height: 130px;
    }

    .std {
        min-height: 50vh !important;
    }

    .std .title h4 {
        font-size: 32px !important;
    }

    .std .title span {
        font-size: 24px !important;
    }

    .std .subtitle h1 {
        font-size: 40px !important;
    }

    .std .subtitle h2 {
        font-size: 1.5em !important;
    }

    .std .footer h4{
        margin-bottom: 1;
        font-size: 20px !important;
    }

    .play-box {
        bottom: 35px; 
        right: 30px; 
        width: 50px;
        height: 50px;
    }
    
    .play-btn {
        line-height: 53px;
    }

    .play-btn svg{
        color: #fff;
        font-size: 18px;
    }

    .cover {
        width: 120px;
        height: 120px;
    }

    .prolog {
        margin-top: -25px;
    }

    .prolog span {
        font-size: 14px;
    }

    .prolog-event {
        margin-top: -10px;
        font-size: 14px;
    }

    .information-event {
        font-size: 14px;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1100px) {
    .frame {
        max-width: 250px;
        max-height: 250px;
    }
}